html {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(40,185,216, 1) 100%);
}

body {
  font-family: 'Catamaran';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgba(40,185,216, 1); */
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  color: rgba(40,185,216, 1);
}

.memoryCard {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.memoryImg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}